
/*FONDO*/
body {
  font-family: 'Shrikhand', cursive;
font-family: 'Playfair Display', serif;
   background-image: url("https://photo980x880.mnstatic.com/fb/fe/fbfe28ef1e6c7bc0c91cebe9c7a97e02.jpg");
    background-size: 100%;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

div {
    border-radius: 5px;
    background-color: red;
    padding: 20px;
}


/* AMBA*/
header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #333;
  
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 20px;
}
/* Gracias por tu visita*/
footer {
    padding: 30px;
    text-align: center;
    color: black;
}

p span {
  float: right;
}
/*enlaces*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
/*letras del enlace */
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:black;

}
/*Buenos aires ciudad*/
.amar {
  background-color: yellow ;
  color: black;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: aliceblue;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
  
}
h1{
  text-align: center;
  text-shadow: 1px 1px lightblue;

}
label1{
text-align:right;
}
h2{
text-align:center;
  background-color:transparent;
   margin: 8px 500px;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #333;
}

.button1:hover {
    background-color: yellow;
    color: black;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #333;
}

.button2:hover {
    background-color: #F55D3B;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #333;
}

.button3:hover {
    background-color: orange;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button4:hover {background-color: #3B87F5;
color:white;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button5:hover {
    background-color: #5EEE1B;
    color: white;
    
}
.button6 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button6:hover {background-color: #1B51EE;
color:white;}
.button7 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button7:hover {background-color: #12902B;
color:white;}
.button8 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button8:hover {background-color: #E00B72;
color:white;}
.button9 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button9:hover {background-color: #FF0606;
color:white;}
.button10 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button10:hover {background-color: #F1EF4E;
color:white;}
.button11 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button11:hover {background-color: #08CFF3;
color:white;}
.button12 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button12:hover {background-color: #08CFF3;
color:white;}
.button13 {
    background-color: white;
    color: black;
    border: 2px solid #333;
}

.button13:hover {background-color: #F1A229;
color:white;}